---
layout: default
---

{{ content }}

{% for tag in site.tags %}
<h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
<ul>
        {% for post in site.posts %}
        {% if post.tags contains tag[0] %}
        <li>
                <h3>
                        <a href="{{ post.url }}">
                                {{ post.title }}
                        </a>
                        <small>{{ post.date | date_to_string }}</small>
                        <small>{{ post.author }}</small>
                </h3>
        </li>
        {% endif %}
        {% endfor %}
</ul>
{% endfor %}
